<nav class="navbar navbar-expand-lg navbar-white bg-dark">
  <div class="container-fluid">
    <img src="https://o.remove.bg/downloads/1f3d4fcb-d19f-4528-bd45-d6362ff836b8/lion-removebg-preview.png" class="rounded float-start" style="width: 65px;">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Contact
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Mobile No - 7879624267</a></li>
            <li><a class="dropdown-item" href="#">Email - ujjavalbhagat910@gmail.com</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Linkdin - https://www.linkedin.com/in/ujjaval-bhagat/</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Feedback</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a href="/login"><button
              type="button"
              class="btn btn-outline-light bg-dark text-white"
            >Login</button></a>
          <a href="/register"><button
              type="button"
              class="btn btn-outline-light bg-dark text-white"
            >Register</button></a>
        </div>
      </form>
    </div>
  </div>
</nav>